
@import "root";

.more
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top:30px;
  display: flex;
  margin-top:100px; 
  
  button
  {
    margin: auto;
    width: 500px;
    height:50px;
    background-color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    color:#757575;
    border:solid 1px #757575;
    border-radius:3px;
    
    
  }
}
.container
{
  
  position: relative;
  top:50px;
  
  width: 1120px;
  height: 873px;
  margin:auto;
  box-sizing: border-box;
  
  
  .line{
    width:54px;
    height:4px;
    
    background-color : $background_red;
    position: relative;
    top:30px;
  }
  .text{
    
    position: relative;
    top:55px;
    font-family: 'Noto Serif';
  }
}
.card-group
{
  
  position: relative;
  top: 50px;
  
  margin:0;
  padding: 0;
  .card
  {
    margin:15px;
    position: relative;
    top:1px;
    border:0px;
    width:365px;
    .card-title{
      font-family: 'Noto Serif', sans-serif;
      font-size: 24px;
      line-height: 1.29;
      position: relative;
      box-sizing: border-box;
      margin-top:25px;
    }
    
   
    .card {
      &-category
      {
          float: left;
          .category{
            background-color: #E8E8E8;
            font-family: 'Open Sans',sans-serif;
            padding: 2px 7px;
            line-height: 1.29;
            color: #4d4d4d;
            border-radius:5px;
          }
      }
      &-text{
        color: #757575;
        font-family: 'Open Sans', sans-serif;
        margin: 0px 0px 16px;
        line-height: 1.5;
        font-size: 14px;
        max-height: 4.5em;
        overflow: hidden;
        margin-bottom: 16px;
      }
      &-img-top{
        
        height:400px;
        object-fit: cover;
      }
    }
    .sub-content
    {
      font-family: 'Open sans', sans-serif;
      color: #757575; 
      margin-right: 8px;
      margin-top:18px;
      font-weight: 300;
      font-size: 14px;
      .text-left{
        float: left;
      }
      .text-right
      {
        .time{
          width:150px;
          float: left;
          .time-text{
            float: left;
            margin-left:0px;
          }
          .fa{
            float: left;
            margin:5px;
            margin-left:15px;
            color: #757575;
          }
        }
      }
    }
    
    
    
    
  }
  
}
