
@import "root";

.more
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top:30px;
  button
  {
    width: 200px;
    height:50px;
    background-color: white;
    border:solid 1px #4d4d4d;
    
  }
}
.content
{
  
  position: relative;
  top:50px;
  
  width: 1120px;
  height: 873px;
  left:370px;
  right:393px;
  box-sizing: border-box;
  
  
  .line{
    width:54px;
    height:4px;
    
    background-color : $background_red;
    position: relative;
    top:30px;
  }
  .text{
    
    position: relative;
    top:55px;
    font-family: 'Noto Serif';
  }
}
.card-group
{
  
  position: relative;
  top: 50px;
  
  margin:0;
  padding: 0;
  .card
  {
    margin:15px;
    position: relative;
    top:1px;
    border:0px;
    width:365px;
    .card-title{
      font-family: 'Noto Serif', sans-serif;
      font-size: 24px;
      line-height: 1.29;
      position: relative;
      box-sizing: border-box;
      margin-top:55px;
    }
    
    .card {
      &-text{
        color: #757575;
        font-family: 'Open Sans', sans-serif;
        margin: 0px 0px 16px;
        line-height: 1.5;
        font-size: 14px;
        max-height: 4.5em;
        overflow: hidden;
        margin-bottom: 16px;
      }
      &-img-top{
        
        height:400px;
        object-fit: cover;
      }
    }
    .sub-content
    {
      font-family: 'Open sans', sans-serif;
      color: #757575; 
      margin-right: 8px;
      border:solid 2px red;
      font-weight: 200;
      .text-left{
        float: left;
      }
      .text-right
      {
        .time{
          width:150px;
          float: left;
          .time-text{
            float: left;
            margin-left: 15px;
          }
          .fa{
            float: left;
            margin:5px;
            margin-left:15px;
            color: #757575;
          }
        }
      }
    }
    
    
    
    
  }
  
}
