<div class="content pt-5">
  <div class="title">
 
  <div class="line ml-3"></div>
  <h1 class="text mb-3 ml-3">
    Magazine
    </h1>
  </div>
  
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../../images/card1.jpg" alt="Card image cap">
    <div class="sub-content">
      <div class="text-left">
        <a class="link">
          DINING IN
        </a>
      </div>
      <div class="text-right">
        <a class="time">
          <i class="fa fa-clock"></i> <p class="time-text">30 MINUTES</p>
        </a>
      </div>
    </div>
      <h5 class="card-title">
                Is Food & Wine Pairing Baloney?
            </h5>
      <p class="card-text">
            This Wine Advocate reviewer—and former sommelier—doesn’t think so.
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    
  </div>
  <div class="card">
    <img class="card-img-top" src="../../images/card2.jpg" alt="Card image cap">
    <div class="sub-content">
      <div class="text-left">
        <a class="link">
           FEATURES
        </a>
      </div>
      <div class="text-right">
        <a class="time">
          <i class="fa fa-clock"></i> 30 MINUTES
        </a>
      </div>
    </div>
      <h5 class="card-title">
                10 Healing Herbs and Spices Every Cook Should Know
            </h5>
      <p class="card-text">
            The various benefits of certain ingredients and Lior Lev Sercarz's tips for how to make use of them.
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    
  </div>
  <div class="card">
    <img class="card-img-top" src="../../images/card3.jpg" alt="Card image cap">
   <div class="sub-content">
      <div class="text-left">
        <a class="link">
          PEOPLE
        </a>
      </div>
      <div class="text-right">
        <a class="time">
          <i class="fa fa-clock"></i> 30 MINUTES
        </a>
      </div>
    </div>
      <h5 class="card-title">
                Winemaker Spotlight: Manuel Louzada
            </h5>
      <p class="card-text">
            We talk with Louzada about his history, his focus on terroir, and the challenges of gaining certification as a 'Vino de Pago' winery.
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    
  </div>
</div>
</div>


   

</div>

  