<div class="jumbotron jumbotron-fluid">
  {{!-- <div class="container">
    <center><h1 class="display-4">Explore the world of the MICHELIN Guide</h1>
    <p class="lead">Find your next culinary experience from over 2,802 restaurants from 22 Selections around the world</p>
  </div>
  </center> --}}

  <div class="home-banner__content">
        <h1 class="home-banner__title">Explore the world of the MICHELIN Guide</h1>
        <div class="home-banner__content_text">
            <center>
                <p>
                
                    Find your next culinary experience from over 2,802 restaurants from 22 Selections around the world
                
            </p>
            </center>
            
        </div>
        <div class="form-search-wrapper typehead-home">
            <form method="get" action="/en/search" data-suggest-url="/en/suggestion">
                <div class="input-group input-search">
    <!-- Start Input Search -->
    <div class="input-group input-search">
        <div class="typeahead__container flex-fill">
            <div class="typeahead__field">
                <i class="fa fa-search"></i><input class="form-control js-search__typeahead " value="" placeholder="Search for Restaurants, Chefs …" name="q" type="search" autofocus="" autocomplete="off">
                
            </div>
        </div>
    </div>
    <!-- Start Input Search -->
</div>

            </form>
        </div>
    </div>
</div>